html, body {
  margin: 0;
  height:100%;
  background: #2C3E50;  /* fallback for old browsers */
  
  background: linear-gradient(to top, #ddd6f3, #faaca8  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
 }
.wrapper{
  position: absolute;
  z-index: 8;
  height:100%;
  width:100%;
}
#canvasContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  z-index: 0;
}

#mainCanvas{
  height: 100%;
  width: 100%;
}
#location{
  z-index: 8;
  padding: 2em;
  position:absolute;
  left:10%;
  width: 80%;
}
#textBox{
  z-index: 8;
  text-align: center;
  width: 100%;
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: white;
  height: 1.5em;
  background-color: transparent;
  border: none;
  border-bottom: 10px solid rgba(255,255,255,0.1);
}
#textBox:focus {
  background-color: transparent;
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-bottom: 10px solid rgba(255,255,255,0.2);
}

#size-buttons{
  width: 100%;
  padding-top:2em;
}

label{
font-family: 'Open Sans', sans-serif, monospace;
font-size:2em;
font-weight: 400;
color: white;
}

input[type=radio]{
  height:2em;
  width:2em;
  opacity: 0.2;
}