html, body {
  margin: 0;
  height:100%;
  background: #2C3E50;  /* fallback for old browsers */
  background: linear-gradient(to top, #ddd6f3, #faaca8  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  background-repeat:no-repeat;
 }
.wrapper{
  position: absolute;
  width:100%;
  display: inline-flex;
  justify-content: center;
}
#canvasContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

#mainCanvas{
  height: 100%;
  width: 100%;
  z-index: 1;
}
#location{
  z-index: 8;
  padding: 2em;
  position:absolute;
  width: 80%;
}
#textBox{
  z-index: 8;
  text-align: center;
  width: 100%;
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: white;
  height: 1.5em;
  background-color: transparent;
  border: none;
  border-bottom: 10px solid rgba(255,255,255,0.1);
}
#textBox:focus {
  background-color: transparent;
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-bottom: 10px solid rgba(255,255,255,0.2);
}
#textBox::placeholder{
  font-weight: 400;
  font-size: 30px;
  color: rgba(255,255,255,0.5);
}

label{
font-family: 'Open Sans', sans-serif, monospace;
font-size:2em;
font-weight: 400;
color: white;
}

input[type=radio]{
  height:2em;
  width:2em;
  opacity: 0.2;
}

#radio-buttons{
  display:flex;
  justify-content: space-between;
}

span{
  display: inline-block;
  text-align: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif, monospace;
  font-size:20px;
  font-weight: 200;
  color: rgb(255,255,255,0.5);
}

#download{
  z-index: 8;
  position: absolute;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  bottom: 3em;
  height: 4em;
}

#download-button{
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.4s;
  font-family: 'Open Sans', sans-serif, monospace;
  font-size:2em;
  font-weight: 400;
  color: rgb(255,255,255,0.9);
  background-color: rgb(255,255,255,0.1);
  min-width: 200px;
  width: 10%;
  border-radius:0.3em;
  border: 0.15em solid white;
}

#download-button:hover{
  color:white;
  border-color: white;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
       box-shadow: inset 0px 0px 5px #c1c1c1;
}

button:focus {outline:0;}

#download-button:active {
  color: rgb(255,255,255,0.3);
  border-color: rgb(255,255,255,0.3);
  outline: none;
}

.loader {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 16px solid rgb(255,255,255,0.5);
  border-top: 16px solid white;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  transform: translate(-50%,-50%);
  animation: spin 2s linear infinite;
  visibility: hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}